body {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  font-size: 30px;
  text-align: center;
  user-select: none;
}
.field{
  margin: 40px;
  display: grid;
  grid-template: repeat(10, 44px) / repeat(10, 44px);
}
.cell{
  height: 40px;
  width: 40px;
  border: 2px solid black; 
}
.shaded{
  background-color: gray;
}
.dead{
  background-color: red;
}
.ready{
  margin: 0 auto;
  grid-row: 2;
  height: 50px;
  width: 200px;
  font-family: georgia;
  font-size: 36px;
  outline: none;
  border: none;
  border-radius: 15px;
  background: linear-gradient(to bottom, #0099cc, #fff);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media (max-width: 1000px) {
  body {
    grid-template: 1fr 1fr / 1fr;
    font-size: 20px;
  }
  .field{
    margin: 30px 10px 30px 10px;
    display: grid;
    grid-template: repeat(10, 33px) / repeat(10, 33px);
  }
  .cell{
    height: 30px;
    width: 30px;
    border: 1.5px solid black; 
  }
  .ready{
    height: 25px;
    width: 100px;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: absolute;
    top: 380px;
    left: 130px;
  }
}